# Godot
.godot/

# Project's build folder
.build/

### Extra ignores

# macOS system files
.DS_Store
__MACOSX

# Windows system files
[Tt]humbs.db
[Tt]humbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Code editor meta files
.vs/
.vscode/
*.swo
*.swp

# Jetbrains IDE files
.idea/
